# Laboratorio 1

##  1. Importación de librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

## 2. Carga de los datos

In [9]:
df_tracks = pd.read_csv('./datos/Datos_BiciAlpes.csv', sep=';', encoding = 'ISO-8859-1', index_col=0)

,Number_of_Casualties,Road_Type,Speed_limit,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Detail,Number_of_Vehicles,Accident_Severity,Unnamed: 14
count,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,0.0
mean,1.118022,5.587486,33.522855,1.712814,1.532222,1.191083,1.243162,1.247096,1.898464,1.001124,2.630761,NaN
std,0.330694,1.416573,10.206576,1.456428,1.760695,0.590522,0.429032,0.453389,2.456249,0.033511,0.518214,NaN
min,1.000000,1.000000,15.000000,1.000000,1.000000,-1.000000,1.000000,-1.000000,-1.000000,1.000000,1.000000,NaN
25%,1.000000,6.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,NaN
50%,1.000000,6.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,NaN
75%,1.000000,6.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,3.000000,NaN
max,4.000000,9.000000,70.000000,7.000000,9.000000,5.000000,2.000000,3.000000,9.000000,2.000000,3.000000,NaN

## 3. Entendimiento de los datos

In [11]:
df_tracks.shape

(5338, 14)

In [12]:
df_tracks.head()

,Number_of_Casualties,Day_of_Week,Road_Type,Speed_limit,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Vehicle_Type,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Detail,Number_of_Vehicles,Accident_Severity,Unnamed: 14
Time,,,,,,,,,,,,,,
Mañana,1,Día laboral,6,30.0,1,1,1,1,bike,1,3,1,3,NaN
Mañana,1,Día laboral,6,30.0,1,1,1,1,bike,1,0,1,3,NaN
Tarde,1,Fin de semana,6,30.0,1,1,1,1,bike,1,3,1,3,NaN
Tarde,2,Día laboral,6,30.0,1,1,1,1,bike,1,6,1,2,NaN
Mañana,2,Día laboral,6,30.0,1,1,1,1,bike,1,6,1,3,NaN

In [13]:
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5338 entries, Mañana to Mañana
Data columns (total 14 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Number_of_Casualties                         5338 non-null   int64
 1   Day_of_Week                                  5319 non-null   object
 2   Road_Type                                    5338 non-null   int64
 3   Speed_limit                                  5338 non-null   float64
 4   Light_Conditions                             5338 non-null   int64
 5   Weather_Conditions                           5338 non-null   int64
 6   Road_Surface_Conditions                      5338 non-null   int64
 7   Urban_or_Rural_Area                          5338 non-null   int64
 8   Vehicle_Type                                 5338 non-null   object
 9   Did_Police_Officer_Attend_Scene_of_Accident  5338 non-null   int64
 10  Junction_Detail                              5338 non-null   int64
 11  Number_of_Vehicles                           5338 non-null   int64
 12  Accident_Severity                            5338 non-null   int64
 13  Unnamed: 14                                  0 non-null      float64
dtypes: float64(2), int64(10), object(2)
memory usage: 625.5+ KB